

.card{
    margin: 5px;
}

.card-title{
    font-size: 1em;
    text-align: center;
}

.navbar{
    margin-bottom: 50px;
}

.img_container{
    width: 100%;
    height: 200px;
    background-size: coverdra;
}



