<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Data provided by Marvel. © 2014 Marvel
    </div>
    <!-- Copyright -->

</footer>